<!-- Begin Speakers List-->

<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.cdnurl }}{{ site.rockstarSpeakersImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
            {% for speaker in site.data.speakers %}
                <div class="col-md-3 col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="0">
                    <div class="rockstar-speaker">
                        <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.cdnurl | append: speaker.thumbnailUrl }})" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                        </div>
                        <div class="name">{{ speaker.name }} {{ speaker.surname }}</div>
                        <div class="sub">{{ speaker.company }}</div>
                    </div>
                </div>
                {% assign value = forloop.index0 | modulo:2 %}
                {% if value == 1 %}
                    <div class="clearfix visible-xs"></div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div> 
        </div>
    </div>
</section>